<section class="home-section" id="home">
    <div class="container">
      <h1 class="visually-hidden">Roy Story: Match 3 Blast Games</h1>
        <div class="home-wrapper">
        <picture>
            <source srcset="
                /img/home/logo-desk.png 1x,
                /img/home/logo-desk@2x.png 2x
                             " media="(min-width: 1440px)" />
            <source srcset="
                /img/home/logo-mob.png 1x,
                /img/home/logo-mob@2x.png 2x
                            " media="(max-width: 1439px)" />
            <img src="/img/home/logo-mob.png" alt="Roy Story: Match 3 Blast Games" loading="lazy" />
        </picture>
        <a class="home-link" href="https://play.google.com/store/apps/details?id=com.velogames.roystory&hl=en&gl=us">
        <img src="/img/home/play.png" alt="google play" loading="lazy"></a>
    </div>
    </div>
</section>