.footer {
background: #d871e6;
}

.footer-container {
  padding: 45px 20px;
  display: flex;
  flex-direction: column;
  gap: 34px;
}

.footer-navigation {
  display: flex;
  flex-direction: column;
  align-items: start;
font-family: "Fredoka", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  color: #421467;
  gap: 16px;
}

.footer-text {
  font-size: 12px;
  color: #421467;
}

@media only screen and (min-width: 1440px) {
  .footer-container {
    padding: 46px 80px;
    gap: 50px;
  }

  .footer-navigation {
    flex-direction: row;
    justify-content: space-between;
  }

  .footer-text {
    text-align: center;
  }
}