.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
    border: 0;
}

.home-section {
    background-image: url("/img/home/mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 800px;
}
.home-wrapper{
    margin-top: 74px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}
.home-link{
    width: 243px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media only screen and (min-width: 1440px) {
.home-section {
background-image: url("/img/home/desk.png");
height: 823px;
}

.home-wrapper {
margin-top: 100px;
align-items: start;
width: 622px;
gap: 42px;
}
.home-link {
margin-left: 50px;
}
}
/* About the Game */
.about-container-wrap{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.about-img{
    display: none;
}
.about-wrapper{
    border-radius: 20px;
        padding: 26px 22px;
        width: 335px;
        height: 352px;
background: #b4dff4;
display: flex;
flex-direction: column;
align-items: center;
}
.about-wrapper-two{
border-radius: 20px;
    width: 335px;
    height: 298px;
background: #b4dff4;
position: relative;
}
.about-big-img{
    position: absolute;
    bottom: 0;
    left: 20%;
}
.about-container{
    padding-top: 80px;
}
@media only screen and (min-width: 1440px) {
 .about-container-wrap{ 
    width: 1064px;
    margin-left: auto;
margin-right: auto;
flex-direction: row-reverse;
gap: 0;
position: relative;
align-items: start;
 }
.about-container {
    padding-top: 150px;
}
.about-wrapper{
    padding: 26px 34px;
        width: 532px;
        height: 281px;
}
.about-wrapper-two{
    width: 532px;
        height: 298px;
        margin-top: 100px;
}
.about-img{
    display: block;
    position: absolute;
}
.about-one{
    top: 10%;
    left: 43%;
}
.about-two{
    top: 21%;
    right: -4%;
}
.about-three{
    bottom: 12%;
    left: 50%;
}
.about-four{
    bottom: 30%;
    left: -4%;
}
}
/* How to Play */
.how-text{
    display: none;
}
.how-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.how-img{
    display: none;
}
.how-list{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.how-item{
    border-radius: 20px;
        padding: 12px;
        width: 335px;
        height: auto;
background: #b4dff4;
display: flex;
flex-direction: column;
gap: 12px;
}
.how-item-title{
font-family: "Quicksand", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    color: #d871e6;
}
@media only screen and (min-width: 1440px) {
.how-text{
    display: block;
    font-family: "Fredoka", sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.5;
        color: #2a2f3a;
        margin-bottom: 12px;
}
.how-wrapper{
    flex-direction: row-reverse;
 justify-content: start;
    gap: 236px;
}
.how-container{
    padding-left: 190px;
}
.how-text-wrapper{
position: relative;
}
.how-list{
    align-items: start;
}
.how-item{
    width: 414px;
}
.how-img{
    display: block;
    position: absolute;
}
.how-img-one{
    top: 10%;
    left: -10%;
}
.how-img-two{
    top: 30%;
    right: -10%;
}
.how-img-three{
    bottom: 36%;
        left: -10%;
}
.how-img-four{
    bottom: 14%;
    right: -10%;
}
}
/* Core Features */
.features-section{
    background-image: url("/img/features/mob.png");
    background-repeat: no-repeat;
    background-position: top 110px center;
    background-size: 100% 192px;
}
.features-list{
    margin-top: 220px;
    border-radius: 20px;
        padding: 22px 4px 22px 18px;
        width: 335px;
        height: 322px;
        background: #b4dff4;
        margin-left: auto;
        margin-right: auto;
display: flex;
flex-direction: column;
gap: 14px;        
}
.features-item{
    display: flex;
    align-items: start;
gap: 4px;
}
@media only screen and (min-width: 1440px) {
.features-section {
        background-image: url("/img/features/desk.png");
        background-repeat: no-repeat;
        background-position: top center;
        background-size: cover;
height: 738px;
    }

    .features-list {
        margin-top: 100px;
width: 472px;
    height: 292px;
        gap: 16px;
        margin-right: 40px;

    }

}
/* Visual Gallery */
.btn{
    display: none;
}
@media only screen and (min-width: 1440px) {
.gallery-btn{
    margin-top: 28px;
    display: flex;
    justify-content: center;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: inherit;
    border: none;
}
}
/* Reviews */
.reviews-img{
    display: none;
}
.reviews-swiper .swiper-slide{
    border-radius: 20px;
        padding: 22px 28px;
    background: #b4dff4;
    height: 225px;
    display: flex;
    flex-direction: column;
    align-items: start;
}
.reviews-text{
    margin-top: 16px;
    margin-bottom: 12px;
    height: 65px;
}
.avatar-wrapper{
    display: flex;
    align-items: center;
    gap: 24px;
}
.author{
    font-family: "Fredoka", sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.5;
        color: #d871e6;
}
@media only screen and (min-width: 1440px) {
 .reviews-img{
    display: block;
 }
 .reviews-swiper .swiper-wrapper{
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
 }
 .reviews-swiper .swiper-slide{
width: 413px;
    height: 225px;
 }
}
/* FAQ */
.faq-list{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.faq-item{
    display: flex;
    flex-direction: column;
}
.faq-title-wrapper{
    display: flex;
    align-items: center;
    gap: 4px;
}
.faq-item-title{
    border: 1px solid #421467;
        border-radius: 40px;
        padding: 12px 16px;
        width: 281px;
        height: auto;
background: #b4dff4;
font-family: "Quicksand", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    color: #2a2f3a;
}
.faq-item-text{
border: 1px solid #421467;
    border-radius: 40px;
    padding: 12px 14px;
    width: 335px;
    height: auto;
}
@media only screen and (min-width: 1440px) {
.faq-list {
        
        width: 630px;
        gap: 12px;
        margin-left: auto;
        margin-right: auto;
    }
.faq-item{
  align-items: end;  
}
    .faq-title-wrapper {
        width: 630px;
    }

    .faq-item-title {
padding: 12px 18px;
    width: 576px;
    }

    .faq-item-text {
padding: 12px 18px;
    width: 576px;
    }
}